@import "../variables";
@import "../mixins";

.u-user-profile{
  padding: 10px;
  .u-user-profile-main{
    .clearfix;
    margin-bottom: 20px;
  }
  .u-user-profile-avatar{
    float: left;
  }
  .u-user-profile-info{
    margin-left: 90px;
  }
  .u-user-profile-username{
    .text-primary;
  }
  .u-user-profile-item{
    padding: @padding-base-vertical 0;
  }
  .u-user-profile-stats{
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline;
      a{
        float: left;
        padding: @padding-base-vertical @padding-base-horizontal;
        text-decoration: none;
        border-left: 1px solid @input-border;
        .text-muted;
      }
      strong{
        display: block;
        .text-primary;
      }
    }
    li:first-child a{
      border-left: none;
    }
  }
}

.u-quick-post{
  padding: 10px;
  .ui-textarea{
    width: 268px;
    .border-radius(@border-radius-base);
    padding: 5px @padding-small-horizontal;
  }
}

.u-pet-profile-box{
  padding: 10px;
}

.u-pet-profile{
  line-height: 24px;
  .clearfix;
  .u-pet-profile-avatar{
    .pull-left;
  }
  .u-pet-profile-content{
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    font-size: @font-size-base;
    padding-left: 5px;
    margin-left: 60px;
    .u-pet-profile-item{
      &.u-pet-profile-name{
        font-weight: 800;
      }
    }
  }
}

.u-post-item{
  padding: 10px;
  .u-post-item-info{
    .clearfix;
    .u-post-item-avatar{
      .pull-left;
      width: 40px;
      height: 40px;
    }
    .u-post-item-user-name{
//      .text-default;
      a{
//        .text-default;
      }
    }
    .u-post-item-pet-name{
      font-weight: 800;
//      .text-primary;
      a{
//        .text-primary;
      }
    }
    .u-post-item-time{
//      .text-default;
    }
    .u-post-item-other{
      margin-left: 50px;
      margin-bottom: 5px;
    }
  }
  .u-post-item-content{
    p, img{
      margin-top: 10px;
    }
  }
}