body {
  font-family: Arial;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14;
}
h6 {
  font-size: 12px;
}
.underline {
  border-bottom: 1px solid #cccccc;
}
.global-nav-bar {
  min-width: 960px;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  background-color: #f47063;
  *zoom: 1;
}
.global-nav-bar:before,
.global-nav-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.global-nav-bar:after {
  clear: both;
}
.global-nav-bar .global-nav-bar-site-menu,
.global-nav-bar .global-nav-bar-user-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.global-nav-bar .global-nav-bar-site-menu {
  float: left;
}
.global-nav-bar .global-nav-bar-user-menu {
  float: right;
}
.global-nav-bar .global-nav-bar-item {
  float: left;
}
.global-nav-bar .global-nav-bar-item a {
  display: block;
  padding: 0 15px;
  color: #e6e6e6;
  text-decoration: none;
}
.global-nav-bar .global-nav-bar-item a:hover {
  color: #ffffff;
}
#header {
  background-color: #f3f5f4;
}
#header .header-inner {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}
#header .header-inner .logo {
  font-size: 30px;
  margin: 0;
}
#header .header-inner .logo a {
  text-decoration: none;
  color: #808080;
}
#header .header-inner .logo a:hover {
  color: #000000;
}
#content {
  width: 960px;
  margin: 0 auto;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
}
.centered-content {
  padding: 0 100px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.form-text {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  padding: 0 5px;
  height: 30px;
}
.form-type-1 .form-tip {
  color: #808080;
}
.form-type-1 .form-row {
  padding: 10px 0;
}
.form-type-1 .form-row label {
  width: 120px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.form-type-1 .form-row .form-text {
  width: 300px;
}
.form-type-1 .form-errors {
  overflow: hidden;
  padding: 0 10px;
  border-left: 3px solid #b31d14;
  color: #b31d14;
}
.form-type-1 .form-errors li {
  list-style-position: inside;
}
.btn {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.btn:hover,
.btn:focus {
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
}
.btn-primary {
  color: #ffffff;
  background-color: #f47063;
  border: 1px solid #ef6256;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #f25a4b;
  border: 1px solid #ed4c3f;
}
a.btn {
  text-decoration: none;
  display: inline-block;
}
h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
h5 .btn,
h6 .btn {
  height: 24px;
  line-height: 24px;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  display: none;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  list-style: none;
  position: absolute;
  background-color: #fff;
  top: 40px;
  right: 0;
  text-align: center;
  border: 1px solid #cccccc;
}
.dropdown .dropdown-menu li a {
  line-height: 35px;
  display: block;
  width: 100px;
  color: black;
  padding: 0 10px;
}
.dropdown .dropdown-menu li a:hover {
  color: darkgray;
  background-color: #e6e6e6;
}
