@import "variables.less";
@import "mixins.less";

.ui-button{
  font-weight: 800;
  .border-radius(2px);
  .padding(0 15px);
  &.ui-button-default{
    color: @btn-default-color;
    font-size: @font-size-base;
    height: @btn-height-base;
    line-height: @btn-height-base;
    background-color: @btn-default-bg;
    border: 1px solid @btn-default-border;
    &:hover, &:focus{
      background-color: lighten(@btn-default-bg, 5%);
    }
  }
  &.ui-button-primary{
    color: @btn-primary-color;
    font-size: @font-size-base;
    height: @btn-height-base;
    line-height: @btn-height-base;
    background-color: @btn-primary-bg;
    border: 1px solid @btn-primary-border;
    &:hover, &:focus{
      background-color: lighten(@btn-primary-bg, 5%);
    }
  }
  &.ui-button-warning{
    color: @btn-warning-color;
    font-size: @font-size-base;
    height: @btn-height-base;
    line-height: @btn-height-base;
    background-color: @btn-warning-bg;
    border: 1px solid @btn-warning-border;
    &:hover, &:focus{
      background-color: lighten(@btn-warning-bg, 5%);
    }
  }
  &.ui-button-sm{
    font-size: @font-size-small;
    height: @btn-height-small;
    line-height: @btn-height-small;
  }
  &.ui-button-lg{
    font-size: @font-size-large;
    height: @btn-height-large;
    line-height: @btn-height-large;
  }
}

a.ui-button{
  text-decoration: none;
  display: inline-block;
}