@import "variables.less";
@import "mixins.less";

.dropdown{
  position: relative;
  .dropdown-menu{
    display: none;
    .padding(0);
    .border-radius(@border-radius-small);
    list-style: none;
    position: absolute;
    background-color: #fff;
    top: @global-nav-bar-height;
    right: 0;
    text-align: center;
    border: 1px solid @input-border;
    .box-shadow(0 3px 3px rgba(0, 0, 0, 0.10));
    li{
      a{
        line-height: 35px;
        display: block;
        width: 100px;
        color: black;
        .padding(0 @padding-base-horizontal);
        &:hover{
          color: @gray-lighter;
          background-color: @gray-light;
        }
      }
    }
  }
}