@import "variables.less";
@import "mixins.less";
@import "untitled";

.ui-form{
  img{
    vertical-align: bottom;
  }
  .ui-form-item{
    .padding(0 0 20px 110px);
    .clearfix;
    &.ui-form-item-focus{

    }
    &.ui-form-item-error{
      .ui-input{
        color: @color-error;
        border: 1px solid @color-error;
      }
    }
    .ui-label{
      float: left;
      color: @gray;
      .text-right;
      line-height: @input-height;
      width: 110px;
      height: @input-height;
      margin-left: -120px;
    }
    .ui-form-text{
      .pull-left;
      width: 210px;
      font-size: @font-size-small;
      color: @gray;
      line-height: @input-height;
      margin: 0;
    }
    .ui-form-required{
      color: @color-error;
    }
    .ui-input{
      .pull-left;
      width: 210px;
      height: @input-height - 5 * 2;
      line-height: @input-height - 5 * 2;
      padding: 5px;
      border: 1px solid @lightGray;
      width: 200px;
      .box-shadow(0 0 5px rgba(0,0,0,0.2) inset);
      .border-radius(2px);
      &.ui-input-disabled{
      }
    }
    .ui-file-input{
      position: relative;
      .pull-left;
      .text-center;
      width: 100px;
      overflow: hidden;
      height: @input-height - 2;
      line-height: @input-height - 2;
      color: @white;
      font-weight: 800;
      background-color: @btn-orange-background-color;
      border: 1px solid @btn-orange-border-color;
      .border-radius(3px);
      &:hover{
        background-color: darken(@btn-orange-background-color, 5%);
        border-color: darken(@btn-orange-border-color, 5%);
      }
      .ui-input{
        position: absolute;
        width: 200px;
        right: 0;
        top: 0;
        opacity: 0; /* 实现的关键点 */
        filter:alpha(opacity=0);/* 兼容IE */
        cursor: pointer;
      }
    }
    .ui-form-explain{
      clear:both;
      color: @color-error;
    }
    .ui-textarea{
      .pull-left;
      width: 210px;
      height: @input-height * 3;
      line-height: @input-height - 10;
      padding: 5px;
      border: 1px solid @lightGray;
      width: @input-height * 15;
      .box-shadow(0 0 5px rgba(0,0,0,0.2) inset);
      .border-radius(2px);
    }
    select{
      height: @input-height;
      border: 1px solid @lightGray;
      .border-radius(2px);
      .box-shadow(0 0 5px rgba(0,0,0,0.2) inset);
    }
    .ui-form-other{
      color: @darkGray;
      font-size: @font-size-small;
      margin-left: 5px;
      height: @input-height;
      line-height: @input-height;
      a{
        color: @orange;
      }
    }
  }
}