@import "variables";
@import "mixins";

@import "normalize.less";

body{
  font-family: @font-family-base;
  font-size: @font-size-base;
  background-color: @body-bg;
}

@import "type";
@import "untitled";

.global-nav-bar{
  min-width: @grid-width;
  font-size: @font-size-small;
  height: @global-nav-bar-height;
  line-height: @global-nav-bar-height;
  background-color: @global-nav-bar-background-color;
  .clearfix;
  .global-nav-bar-site-menu, .global-nav-bar-user-menu{
    .margin(0);
    .padding(0);
    list-style-type: none;
  }
  .global-nav-bar-site-menu{
    float: left;
  }
  .global-nav-bar-user-menu{
    float: right;
  }
  .global-nav-bar-item{
    float: left;
    a{
      display: block;
      .padding(0 15px);
      color: @gray-lighter;
      text-decoration: none;
      &:hover{
        color: #fff;
      }
    }
  }
}

#header{
  background-color: @header-background-color;
  border-bottom: 1px solid @header-border;
  padding-top: @grid-gutter-width;
  margin-bottom: 20px;
  .box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
  .logo{
    .margin(0);
    a{
      width: 80px;
      height: 80px;
      display: block;
      text-indent: -999em;
      background: url('../images/zoo_80.png') top left no-repeat;
      text-decoration: none;
      color: @gray-dark;
      &:hover{
        color: @gray-darker;
      }
    }
  }
}

.block{
  background-color: #fff;
  margin-bottom: 20px;
  .border-radius(@border-radius-small);
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
}

.content-main{
  background-color: #fff;
  margin-bottom: 20px;
  .border-radius(@border-radius-small);
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
  .content-header{
    .header-inner{
      padding: 10px;
    }
  }
  .ui-form{
    margin: 10px;
  }
}

@import "glyphicons";

@import "grid";
@import "forms";
@import "buttons";
@import "dropdown";
@import "tipbox";
@import "tiptext";
@import "pagination";
@import "glyphicons";

@import "sites/u";