@import "variables";
@import "mixins";

body{
  font-family: Arial;
}

@import "untitled";
@import "type";

.global-nav-bar{
  min-width: 960px;
  font-size: @font-size-small;
  height: @global-nav-bar-height;
  line-height: @global-nav-bar-height;
  background-color: @global-nav-bar-background-color;
  .clearfix;
  .global-nav-bar-site-menu, .global-nav-bar-user-menu{
    .margin(0);
    .padding(0);
    list-style-type: none;
  }
  .global-nav-bar-site-menu{
    float: left;
  }
  .global-nav-bar-user-menu{
    float: right;
  }
  .global-nav-bar-item{
    float: left;
    .padding(0 15px);
    a{
      color: @lightGray;
      text-decoration: none;
      &:hover{
        color: @white;
      }
    }
  }
}

#header{
  background-color: @header-background-color;
  .header-inner{
    width: 960px;
    .margin(0 auto);
    .padding(10px 0);
    .logo{
      font-size: 30px;
      .margin(0);
      a{
        text-decoration: none;
        color: @darkGray;
        &:hover{
          color: @black;
        }
      }
    }
  }
}

#content{
  width: 960px;
  .margin(0 auto);
  h1{
    .underline;
    .padding(5px 0);
  }
}

.centered-content{
  .padding(0 100px);
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@import "forms";
@import "buttons";
@import "dropdown";