@import "variables";
@import "mixins";

.ui-tipbox{
  position: relative;
  margin: 10px;
  line-height: @line-height-base;
  .min-height(60px);
  .ui-tipbox-icon{
    position: absolute;
    left: 40px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 1;
    font-family: 'fontello';
  }
  .ui-tipbox-content{
    margin: 10px 10px 10px 100px;
    font-size: @font-size-small;
    .ui-tipbox-title{
      color: @gray-dark;
      font-size: @font-size-base;
      font-weight: 800;
    }
    .ui-tipbox-explain{
      margin: 0;
      padding: 0;
      a{
        text-decoration: none;
        color: @gray-light;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &.ui-tipbox-message{
    background-color: @tipbox-message-bg;
    border: 1px solid @tipbox-message-border;
  }
  &.ui-tipbox-danger{
    background-color: @tipbox-danger-bg;
    border: 1px solid @tipbox-danger-border;
    .ui-tipbox-icon{
      color: @tipbox-danger-color;
      &:before { content: '\e808'; }
    }
  }
}