@import "variables";
@import "mixins";

.ui-tiptext-container{
  padding: 0 @padding-base-horizontal;
  margin-bottom: 10px;
  &.ui-tiptext-container-danger{
    background-color: @tipbox-danger-bg;
    border: 1px solid @tipbox-danger-border;
  }
  &.ui-tiptext-container-message{
    background-color: @tipbox-message-bg;
    border: 1px solid @tipbox-message-border;;
  }
  &.ui-tiptext-container-success{
    background-color: @tipbox-success-bg;
    border: 1px solid @tipbox-success-border;
  }
}

.ui-tiptext{
  clear: both;
  color: @gray;
  padding: 5px 0;
  line-height:@line-height-base;
  font-size: @font-size-small;
  margin: 0;
  .ui-tiptext-icon{
    font-family: 'fontello';
    font-style: normal;
    margin-right: 0.4em;
  }
  p{
    margin: 0;
  }
  &.ui-tiptext-success{
    .ui-tiptext-icon{
      &:before{
        content: '\e803';
      }
    }
  }
  &.ui-tiptext-danger{
    .ui-tiptext-icon{
      &:before{
        content: '\e809';
      }
    }
  }
  &.ui-tiptext-message{
    .ui-tiptext-icon{
      &:before {
        content: '\e808';
      }
    }
  }
}