@import "variables";
@import "mixins";

h1{
  font-size: 24px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 14;
}

h6{
  font-size: 12px;
}

.underline{
   border-bottom: 1px solid @btn-color-border;
 }

h1, h2, h3, h4, h5, h6{
  &.title{
    .underline;
    .padding(5px 0);
  }
}