@import "variables.less";
@import "mixins.less";

.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-20{
  font-size: 20px;
}

.b{
  font-weight: 800;
}

.underline{
   border-bottom: 1px solid @border-bottom-color;
 }

h1, h2, h3, h4, h5, h6{
  font-size: 16px;
  font-weight: 800;
  margin: 0 0 10px 0;
  line-height: @input-height;
  &.ui-title{
    .underline;
    .padding(5px 0);
    .ui-sub-title{
      font-size: @font-size-normal;
    }
  }
}