@global-nav-bar-height:           40px;
@global-nav-bar-background-color: #F47063;

@header-background-color:         #f3f5f4;

@input-color-placeholder:         #aaa;
@input-color-border:              #ccc;

@font-size-normal:  14px;
@font-size-small:   12px;

@white: #fff;
@gray:  darken(#fff, 30%);
@lightGray:  darken(#fff, 10%);
@darkGray:  darken(#fff, 50%);
@color-error: #b31d14;
@black: #000;

@btn-color-background: #fff;
@btn-color-border: #ccc;

@btn-primary-color-background: #f47063;
@btn-primary-color-border: #ef6256;
