@global-nav-bar-height:           40px;
@global-nav-bar-background-color: #f47063;

@body-background-color:           #ededeb;
@header-background-color:         darken(#ededeb, 5%);

@input-placeholder-color:         #aaa;
@input-border-color:              #ccc;
@input-height: 30px;

@font-size-normal:  14px;
@font-size-small:   12px;

@white: #fff;
@lightGray:  darken(#fff, 30%);
@gray:  darken(#fff, 50%);
@darkGray:  darken(#fff, 70%);
@color-error: #b31d14;
@black: #000;
@orange: @global-nav-bar-background-color;

@color-default: #999;
@color-primary: #428bca;
@color-success: #468847;
@color-message: #3a87ad;
@color-warning: #c09853;
@color-danger: #b94a48;

//pagination
@pagination-item-background-color: #f3f3f3;
@pagination-item-text-color: gray;
@pagination-item-active-background-color: @global-nav-bar-background-color;
@pagination-item-active-text-color: @white;

//button

@btn-small-height: 24px;
@btn-medium-height: 28px;
@btn-large-height: 32px;

@btn-white-background-color: darken(@white, 5%);
@btn-white-border-color: darken(@lightGray, 5%);
@btn-orange-background-color: darken(@orange, 5%);
@btn-orange-border-color: darken(@orange, 15%);
@btn-disabled-background-color: @lightGray;
@btn-disabled-background-color: @gray;

// Type

@border-bottom-color: #ddd;

// Number of columns in the grid system
@grid-columns:              24;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-width:                950px;
@grid-gutter-width:        10px;

//  Tipbox
@tipbox-link-color: #0084c6;

@success-border-color: #b9e2a0;
@success-background-color: #e7ffce;

@message-border-color: #b2e2ea;
@message-background-color: #e5f2f8;

@error-border-color: #FADCD3;
@error-background-color: #FDEEE9;